---
import BaseLayout from "./BaseLayout.astro";
import { DateUtils } from "../lib/utils/date";
import type { SupportedLanguage } from "../lib/i18n/ui";
import { useTranslations } from "../lib/i18n/utils";
import { type BlogPost } from "../types/blog-post";

interface Props {
    language: SupportedLanguage;
    blogPosts: BlogPost[];
}

const { language, blogPosts } = Astro.props;
const localizedUI = useTranslations(language);
---

<BaseLayout language={language}>
    <h2 class="text-2xl font-bold my-5">
        {localizedUI.blog.postsListPageTitle}
    </h2>
    <ul class="space-y-10">
        {
            blogPosts.map((post) => {
                return (
                    <li>
                        <p>
                            {DateUtils.readableDate(post.createdAt, language)}
                        </p>
                        <a class="font-bold text-xl" href={post.url}>
                            {post.title}
                        </a>
                        <p>{post.description}</p>
                    </li>
                );
            })
        }
    </ul>
</BaseLayout>
